text {
  font-size: 36px;
  font-family: monospace;
  fill: black;
}

text.enter {
  fill: green;
}

text.update {
  fill: #333;
}

circle {
  fill: red;
  stroke: green;
  stroke-width: 1px;
}

.chart{
  width: 50%;
  margin-bottom: 2em;
  display: block;
}

div.chart div,
svg.chart text {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

svg.chart rect {
  stroke: white;
  fill: steelblue;
}

svg.chart > g > text {
  fill: white;
}

svg.chart > g > text.rule {
  fill: #333;
}

svg.bar-chart-two {
  width: inherit;
}
